<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <link rel='stylesheet' type='text/css' href='/stylesheet/style.css' />
 
  <div class="menu">
    <div class="menu_tab">
      <a class="active" href="#home">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>
    <div class="menu_version">
      <a1>Ver 1.0</a1>
    </div>
  </div>

  <div class="mainpage">
    <div class="title_container">
      <h1><%= title %></h1>
    </div>

    <div class="table_container">
      <table id="table_persons" border="1px solid black">
        <thead>
          <tr>
              <th>Person ID</th>
              <th>LastName</th>
              <th>FirstName</th>
              <th>Address</th>
              <th>City</th>
              <th>Register</th>
          </tr>
        </thead>

        <tbody id = "tbody_table_persons">
            <!-- to use [/socket.io/socket.io.js] , need to install comment
                 npm install socket.io --save 
              -->
           <!-- <script type="text/javascript" src="/socket.io/socket.io.js">-->
            <script type="text/javascript" >
              var tbl = document.getElementById("table_persons");
              var tblBody = document.getElementById("tbody_table_persons");
              
              var value = "<%=data%>";
              var rows = value.split(',');
              for (var key of rows) {
                  // creates a table row
                  var tr = document.createElement("tr");
                  tr.setAttribute('onclick', 'onRowClick(this)');

                  var items = key.split(';');
                  for (var item of items) {
                      var td = document.createElement("td");
                      td.innerHTML = item.trim();
                      tr.appendChild(td);
                  } // cell
                  var td = document.createElement("td");
                  td.innerHTML = "<input type='checkbox'>";
                  tr.appendChild(td);
                  
                  // add the row to the end of the table body
                  tblBody.appendChild(tr);
              }// end of row
        
              // put the <tbody> in the <table>
              tbl.appendChild(tblBody);

 //   });
            </script>
        </tbody>
      </table>
    </div>
    <div class="button_container">
      <input id="input_button" type="button" value="Submit" onclick="functionSubmit()"/>
      <input id="input_button" type="button" value="Reset"/>
      <input id="input_button" type="button" value="Click Me!"/>
    </div>
    
    <div id="response"></div>

  </div>
  <script>
    function functionSubmit(){
      window.location.href = "/submitForm";
    }

    function onRowClick(data){
      var postData = JSON.stringify({
        title: data.getElementsByTagName("td")[1].innerHTML
      });

      var form = document.createElement('form');
      form.style.visibility = 'hidden'; // no user interaction is necessary
      form.method = 'POST'; // forms by default use GET query strings
      form.action = '/submitForm';
  //    for (key in Object.keys(postData)) {
        var input = document.createElement('input');
        input.name = 'key';
        input.value = postData;
        form.appendChild(input); // add key/value pair to form
   //   }
      document.body.appendChild(form); // forms cannot be submitted outside of body
      form.submit(); // send the payload and navigate
    }
  </script>
  </body>
</html>

<!--
https://developer.mozilla.org/en-US/docs/Web/API/Document_Object_Model/Traversing_an_HTML_table_with_JavaScript_and_DOM_Interfaces
https://learn.microsoft.com/ja-jp/sql/connect/node-js/step-3-proof-of-concept-connecting-to-sql-using-node-js?view=sql-server-ver16

https://qiita.com/ymasaoka/items/516fca97db9c37040619
-->
