body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#table_persons {
  width         : 100%;
  border        : 2px solid black;
  border-spacing: 0;
  overflow-y    : auto;
}

#table_persons thead {
  background-color: #009879; /* mau trong backgroud cua thead */
  color           : #ffffff; /* mau chua cua thead */
  position        : sticky;
  top             : 0;
  z-index         : 1;       /*thead dat nam tren */
  width           : 100%; 
  text-align      : center;  /*chu trong table can giua*/
}

#table_persons tbody {
  text-align    : center; /*chu trong table can giua*/
}

.menu {
  background-color: #333;
  width         : 200px;  /* chieu rong cua table */
  height        : 100%;  /* chieu dai cua table */
  z-index       : 1;
  top           : 0px;   /* vi tri top cua menu - nam tren cung*/
  left          : 0px;   /* vi tri left cua menu - nam ben trai cung*/
  padding-top   : 60px;  /* vi tri dau tien cua chu trong menu */
  overflow-x    : hidden;
  position      : fixed; /* khi co them 1 div thu 2, 
                            div2 nay dat o vi tri song song voi div menu */
}

.menu a {
  padding         : 8px 8px 8px 32px; /* trong tab menu co the a, setup vi tri bao quanh the a nay*/
  text-decoration : none;             /* chu trong the a de nguyen mau khong gach duoi, nghieng ...*/
  font-size       : 25px;             /* font size cua chu */
  position        : relative;         /* ???? */
  color           : #818181;        /* mau cua chu*/
  display         : block;            /* cac tab a nay tao thanh 1 group */
}

.menu a:hover {
  color: #f1f1f1;
}

.menu_tab{
  height        : 85%;
}

.menu_version{
  height        : 5%;
}

.menu_version a1 {
  padding         : 8px 8px 8px 32px; /* trong tab menu co the a, setup vi tri bao quanh the a nay*/
  color           : #818181;        /* mau cua chu*/
  font-size       : 15px;             /* font size cua chu */
}

.mainpage {
  width         : 100%;
  height        : 100%;
  top           : 0px;
  right         : 10px;
  left          : 200px;
/*  background-color: #FFF4A3; */
  position      : fixed;
}

.title {
  margin-top    : 10px;
  margin-left   : 20px;
  width         : 100%;
/*  background-color: #cf5d16; */
}

/*setup div , ben trong div co table*/
.table1 {
  overflow-y    : auto;   /* table co scroll tren ca thead va tbody */
  position      : absolute; /* de can phai, trai, duoi, tren can phai co bien nay 
                               nam trong relative - parent , absolute la child */
  left          : 10px;   /* can trai */
  top           : 100px;   /* can tren */
  width         : 500px;  /* chieu rong cua table */
  height        : 300px;  /* chieu dai cua table */
}

.displayImage {
  display: none;
  overflow-y    : auto;
  position      : absolute;
  right         : 10px;   /* can phai */
  top           : 100px;   /* can duoi */
  width         : 500px;  /* chieu rong cua table */
  height        : 300px; 
}
img {
  max-width: 50%;
}

/*
https://www.w3schools.com/howto/howto_js_sidenav.asp?
 */
